{% extends "base.html" %}
{% block title %}All details {% endblock title %}

{% block content %}
<style>
  table,
  th,
  td {
    border: 1px solid black;

  }
</style>
<br>

<h2 style="text-align: center;">Intern Details</h2>
<br>
<br>
<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>College Name</th>
      <th>Passout Year & Month</th>
    </tr>
  </thead>
  <tbody>
    {% for user in doc1 %}
    <tr>
      <td>{{ user.Name }}</td>
      <td>{{ user.Email }}</td>
      <td>{{ user.College_Name }}</td>
      <td>{{ user.Passout_Year }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}